body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.list {
  margin-top: 100px;
  margin-right: 20px;
  width: 200px;
  height: 30px;
}

button {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 6px;
  background-color: #900cff;
  color: #fff;
  font-size: 16px;
}

button:focus {
  outline: none;
}

button:disabled,
button:disabled:hover{
  background-color: #e5e5e5;
}

button:hover {
  background-color: #aa69ff;
}

button:active {
  background-color: #450882;
}
